@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    background-color:  black;
}
.main{
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 90px;
}
nav span img{
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
}
.btnlang{
    height: 2.2rem;
    width: 79px;
    color: rgba(255, 255, 255, 0.901);
    background-color: rgba(0, 0, 0, 0.374);
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.463);
    
}

.btnsign{
    height: 2.2rem;
    width: 73px;
    color: white;
    background-color: red;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    border: none;
}
.title{
    
    margin: 4% 30%;
}
.hero{
    margin: auto auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
   
}
.hero> :nth-child(1){
    font-family: sans-serif;
    font-size: 3.8rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}
.hero> :nth-child(2){
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 2rem;
}
.hero> :nth-child(3){
    margin-bottom: 0.5rem;
}

.hero input{
    height: 3.5rem;
    width: 350px;
   font-weight: 600;
    background-color: rgba(23, 23, 23, 0.3);;
    font-size: 15px;
    padding-left: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(129, 128, 128);
    
}
.hero button{
    height: 3.5rem;
    width: 200px;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    border: none;

}

.separation{
    height: 7px;
    background-color: rgb(66, 66, 66);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg{
    position: relative;
}
.secImg img{
    position: relative;
    z-index: 10;
    width: 30vw;
}

.secImg video{
    position: absolute;
    top: 61px;
    right:15px;
    width: 25vw;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60vw;
    margin: 7px auto;
    cursor: pointer;
}


footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}